
#Thead {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 125%;
    width: 20%;
}

.table {
    text-align: center;
    padding: 5px;
    width: 100%;
}

.tRow {
    width: 100%;

}

#color {
    background-color: pink;
}

#stateTable {
    background-color: yellow;
}
